<nav class ='navigation'>
    <div class="site-title">
        <a href="/pics">
            <h1>Fav pics</h1>
        </a>
        
    </div>
    <ul class = 'menu'>
        <li class='menu-item'><a class = 'Menu-link' href="/pics">My favs</a></li>

        <li class='menu-item'><a class="menu-link" href="/pics/add">Add Pic</a></li>
    </ul>
</nav>