* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-bg-color: #000;
  --text-color: #ff9380;
  --color-light: #fff;
}

.navigation {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.2rem;
  height: 15vh;
}
@media screen and (max-width: 750px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navigation a {
  text-decoration: none;
  color: var(--text-color);
}
@media screen and (max-width: 750px) {
  /* .site-title {
    background-color: var(--text-color);
    padding: 0.5rem 0.8rem;
  } */
  .site-title a {
    color: var(--color-light) !important;
  }
}
.menu {
  list-style: none;
  display: flex;
  /* background: blue; */
  width: 25%;
  padding: 0.3rem 1.4rem;
  justify-content: space-evenly;
  font-size: 1.7rem;
}
@media screen and (max-width: 750px) {
  .menu {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.6rem;
    gap: 2rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.pics-heading {
  margin: 2rem 0;
}
.single {
  border-radius: 40px;
  margin-bottom: 3rem;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  background-color: #d7ccc8;
  color: aliceblue;
  width: 40%;
  font-size: 0.7rem;
}
@media screen and (max-width: 750px) {
  .single {
    width: 80%;
    margin: 1rem 1rem;
  }
}
.single img {
  width: 70%;
  border-radius: 4px;
  padding-top: 0.4rem;
}
.single-content {
  width: 80%;
  background-color: #9e9e9e;
  border-radius: 60px;
  padding: 0.5rem, 0.65rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.single p {
  /* margin-top: 0.3rem; */
  padding: 0.7rem;
  text-transform: uppercase;
}

/* Add pic form */
.form-heading {
  /* background-color: #ff9380; */
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.add-pic {
  width: 50%;
  background-color: #e0e0e0;
  margin: auto;
  margin-top: 0.3rem;

  padding: 2rem 3.5rem;
}
@media screen and (max-width: 750px) {
  .add-pic {
    padding: 0.3rem 0.7rem;
    width: 90%;
  }
}
.add-pic form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  width: 100%;
  text-align: center;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input label {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}
.form-input input {
  width: 100%;
  padding: 1.2rem 1.8rem;
}

form button {
  display: block;
  width: 100%;
  background-color: #000;
  color: #ff9380;
  padding: 0.7rem 1.5rem;
  border-radius: 3px;
  font-size: 1.4rem;
}

/* IMAGE */
.img {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 1.2rem 1.8rem;
}
.img img {
  width: 85%;
}
.img-heading {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.img-author {
  font-weight: 700;
  font-size: 1.2rem;
}
.delete {
  background-color: #7c4dff;
  border-radius: 100px;
  color: azure;
  display: block;
  width: 80%;
  padding: 0.7rem 1.5rem;
  font-size: 1.8rem;
  margin: 0.6rem auto;
}

/* footer */
footer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 1.5rem;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background-color: #000;
  color: #ff9380;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1.2rem;
}
.navigation a {
  text-decoration: none;
  color: #ff9380;
}

.menu {
  list-style: none;
  display: flex;
  /* background: blue; */
  width: 25%;
  padding: 0.3rem 1.4rem;
  justify-content: space-evenly;
  font-size: 1.3rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.pics-heading {
  margin: 2rem 0;
}
.single {
  border-radius: 40px;
  margin-bottom: 3rem;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  background-color: #d7ccc8;
  color: aliceblue;
  width: 40%;
  font-size: 0.7rem;
}
.single img {
  width: 70%;
  border-radius: 4px;
  padding-top: 0.4rem;
}
.single-content {
  width: 80%;
  background-color: #9e9e9e;
  border-radius: 60px;
  padding: 0.5rem, 0.65rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.single p {
  /* margin-top: 0.3rem; */
  padding: 0.7rem;
  text-transform: uppercase;
}

/* Add pic form */
.form-heading {
  /* background-color: #ff9380; */
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.add-pic {
  width: 50%;
  background-color: #e0e0e0;
  margin: auto;
  margin-top: 0.3rem;

  padding: 2rem 3.5rem;
}
.add-pic form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  width: 100%;
  text-align: center;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input label {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}
.form-input input {
  width: 100%;
  padding: 1.2rem 1.8rem;
}

form button {
  display: block;
  width: 100%;
  background-color: #000;
  color: #ff9380;
  padding: 0.7rem 1.5rem;
  border-radius: 3px;
  font-size: 1.4rem;
} */

/* IMAGE */
/* .img {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 1.2rem 1.8rem;
}
.img img {
  width: 85%;
}
.img-heading {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.img-author {
  font-weight: 700;
  font-size: 1.2rem;
}
.delete {
  background-color: #7c4dff;
  border-radius: 100px;
  color: azure;
  display: block;
  width: 80%;
  padding: 0.7rem 1.5rem;
  font-size: 1.8rem;
  margin: 0.6rem auto;
} */
